GPSCSP_InitialProcessing_APP/InitilaCntSubCnt_Mset.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element dfdl:terminator="" ibmSchExtn:docRoot="true" name="InitilaCntSubCnt_Mset">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:terminator="%CR;%LF;">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%LF;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="," dfdl:terminator="">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="SubmitterID" type="xsd:string"/>
                            							                            <xsd:element ibmDfdlExtn:sampleValue="value2" name="Cnt" type="xsd:string"/>
                            						                                                                                                    <xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="HipaaHeader" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="HipaaTrailer" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>